{% extends 'base.html' %}
{% load static %}
{% block title_block %}Homepage{% endblock %}
{% block body_block %}
  {% if user.is_authenticated %}
    <p>Hi! I'm {{userinfo.username}}</p>
    <p>My name is {{userinfo.first_name}} {{userinfo.last_name}}</p>
    <p>My e-mail is {{userinfo.email}}</p>
    <img src="/media/{{userprofileinfo.profile_pic}}">
  {% else %}
    <p>{{message}}</p>
    <p>Don't have an account? <a href="{% url 'login_app:register'%}">register</a></p>
    <p>Have an account? <a href="{% url 'login_app:login' %}">login</a></p>
  {% endif %}
{% endblock %}
