{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title_block %}Registration Form{% endblock %}
{% block body_block %}
  {% if registered %}
    <h2>Congratulations! registered successfully.</h2>
    <p>Log in <a href="{% url 'login_app:login' %}">here</a></p>
  {% else %}
    <form enctype='multipart/form-data' method="POST">
      {% csrf_token %}
      {{userform|crispy}}
      {{userprofileform|crispy}}
      <br>
      <button type="submit" name="submit" class="btn btn-md btn-success">Register</button>
    </form>
  {% endif %}
{% endblock %}
