{% extends 'base.html' %}
{% block title_block %}Home{% endblock %}
{% block body_block %}
  <h2 align="center" style="color:green">This is an e-learning application. If you have an account
  <a href="{% url 'login_app:login' %}">Log in</a> to access the facilities of
  the application. If you don't have an account <a href="{% url 'login_app:register' %}">Register</a>.
  If you want to arrange quiz and write articles open a teacher account.
  If you want to attend quiz and read articles open a student account.
  You can see <a href="{% url 'learning_app:articles' %}">articles</a> or
  <a href="{% url 'discussion_forum_app:discussionhome' %}">questions</a> asked. Enjoy!!</h2>
{% endblock %}
